body {
    background-color:white;
    margin: 0px;
}

nav {
    top: 0;
    position: sticky;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #012572;
}

#navLogo {
    float: left;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

nav li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 1.7rem 1.7rem;
    text-decoration: none;

    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
}

nav li a:hover {
    background-color: #00184c;
}

p {
    font-size: 2rem;
}