body {
    background-color:white;
    margin: 0px;
}

nav {
    top: 0;
    position: sticky;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #012572;
}

#navLogo {
    float: left;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
}

#logoText {
    float: left;
    color: #baf0f4;
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-left: 1.2rem;
    margin-top: 1.3rem;
}

nav li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 1.7rem 1.7rem;
    text-decoration: none;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

nav li a:hover {
    background-color: #00184c;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 1rem 2rem 0rem 2rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0rem 2rem 0rem 2rem;
}

footer {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1rem;
    padding: 2rem;
    margin-top: 2rem;
}

form {
    padding: 0rem 2rem 1rem 2rem;
}

label {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.3rem;
}

input {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.3rem;

    width: 20rem;
    margin-bottom: 1rem;
}

.submitButton {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}