* {
    padding: 0;
    margin: 0;
}

nav {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#012572;
    width: 20rem;
    height: 100vh;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.logo {
    display: inline-flex;
    padding: 1rem;
    align-items: center;
}

#brightbondsimg {
    width: 5rem;
    height: 5rem;
}

#logoText {
    padding-left: 1rem;
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}

.page {
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

.page:hover{
    background-color: #00184c !important;
}

#active {
    background-color: #001f61;
}

.bottom {
    display: inline-flex;
    margin-bottom: 1.5rem;
    margin-top: auto;
    align-items: center;
    width: 100%
}

#settingsIcon {
    width: 2rem;
    height: 2rem;
    color: white;
    padding-left: 1.5rem;
}

#settingsIcon:hover {
    opacity: 70%;
}

#signOut {
    margin-right: 1.5rem;
    margin-left: auto;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: #00184c;
    color: white;
    border-style: none;
    border-radius: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

#signOut:hover {
    opacity: 70%;
}

body {
    background-color: white;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

section {
    padding: 4rem 3rem 1rem 23rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
}